*.mak
*.dll
*.exp
*.def
*.bin
*.lib
*.bak
*.so
macros/lib
macros/names
jar/
loader.sce
unloader.sce
cleaner.sce
sci_gateway/c/libscidoegateway*.cpp
sci_gateway/c/libscidoegateway*.h
sci_gateway/c/libscidoegateway*.hxx
sci_gateway/cleaner_gateway.sce
sci_gateway/loader_gateway.sce
Debug
Release
help/en_US/scilab_en_US_help
help/en_US/master_help.xml
help/en_US/date_build
